{% extends 'base.html' %}

{% block title %} Hand Gesture Recongition with OpenCV {% endblock %}

{% block content %}

<div>
    <h2>Press the button to start!</h2>

    <p>
        This is a real time gesture recognition tool that will allow one to recognize some common gestures. Simply start the button to switch on the camera and start the model! For the complete project, check out the code at <a href="https://github.com/ikathuria/GestureRecognition">GitHub</a>.
        <br />
        The gestures include:
    </p>

    <form action="/hand-gesture-recognition-1" method="post">
        <button type="submit" name="startCamera" value="startCamera" class="btn btn-primary">
            Start/Stop Camera
        </button>
        <button type="submit" name="recallCamera" value="recallCamera" class="btn btn-primary">
            Recallibrate Camera
        </button>
    </form>

    {% if switch %}
        <img src="{{ url_for('video_feed') }}" height="80%" width="100%" class="mt-5">
    {% endif %}
</div>

<div class="mt-3">
    <div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/zero/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Zero</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/one/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">One</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/two/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Two</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/three/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Three</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/four/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Four</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/five/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Five</h5>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/six/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Six</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/seven/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Seven</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/eight/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Eight</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/nine/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Nine</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/on/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">On</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/off/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Off</h5>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/up/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Up</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/down/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Down</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/left/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Left</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/right/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Right</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/ok/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Ok</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://raw.githubusercontent.com/ikathuria/GestureRecognition/e1ab1d0a03aece880f7e45b8015d9beb200e87db/data/blank/0.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Blank</h5>
        </div>
    </div>
</div>
</div>

{% endblock %}
