{% extends 'base.html' %}

{% block title %} GPT-3 Content Generator {% endblock %}

{% block content %}

<div class="rounded mt-5">
    <h1>Online AI Article Generator with OpenAI GPT-3</h1>
    <p class="lead">
        I created this project to help me overcome my writer's block and write articles for my
        <a href="https://medium.com/@ishani-kathuria" target="_blank">medium blog</a>
        and to learn more about the OpenAI GPT-3 model :) <br />
        Generate article descriptions for any topic, simply enter the article title to get started.
    </p>

    <h2>Enter the article topic</h2>

    <p>
        This is writing tool will allow you to enter a blog topic and get in return a full blog that you can use anywhere. The tool intially provides a list of topic ideas to choose from, once you select a topic, you can go ahead and generate a full content AI blog.
    </p>

    <form class="" action="/nlp-content-generator" method="post">
        <div class="mb-3">
            <label for="blogContent" class="form-label">
                Enter the blog topic below that you have selected to write about
            </label>
            <input type="text" class="form-control" id="blogContent" name="blogContent" placeholder="Enter the blog title to generate the blog on">
        </div>

        <button type="submit" class="btn btn-primary">
            Generate Blog
        </button>
    </form>

    <div class="mt-5 mb-3">
        {{ blog | safe }}
    </div>
</div>

{% endblock %}