<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Everything from python to artificial intelligence.">
        <meta name="author" content="Ishani Kathuria">

        <!-- favicon and title -->
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
        <title>Python to AI</title>

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}"></link>

    </head>

    <body>
        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa-solid fa-code fa-2x"></i></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link"
                        href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link"
                        href="{{ url_for('machine_learning') }}">About Machine
                        Learning</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Supervised Machine Learning
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('supervised_learning_model') }}">Demo - Supervised Learning</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Naive Bayes (Classification)</a>
                            <a class="dropdown-item" href="#">K-Nearest Neighbour (Classification)</a>
                            <a class="dropdown-item" href="#">Logistic Regression (Classification)</a>
                            <a class="dropdown-item" href="#">Linear Regression (Regression)</a>
                            <a class="dropdown-item" href="#">Decision Tree (Classification & Regression)</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Unsupervised Machine Learning
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('unsupervised_learning_model') }}">Demo - Unsupervised Learning</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">K-Means (Clustering)</a>
                            <a class="dropdown-item" href="#">Hidden Markov Model (Clustering)</a>
                            <a class="dropdown-item" href="#">Hierarchical (Clustering)</a>
                            <a class="dropdown-item" href="#">PCA (Dimension Reduction)</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Deep Learning
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Multilayer Perceptron</a>
                            <a class="dropdown-item" href="#">Convolutional Neural Networks</a>
                            <a class="dropdown-item" href="#">Recurrent Neural Networks</a>
                            <a class="dropdown-item" href="#">Generative Adversarial Networks</a>
                            <a class="dropdown-item" href="#">Autoencoders</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Deep Learning Demos
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('nlp_content_gen') }}">GPT-3 Content Generator</a>
                            <a class="dropdown-item" href="{{ url_for('hand_ges_1') }}">Hand Gesture Recognition</a>
                        </div>
                    </li>

                </ul>
                </div>
            </div>
        </nav>

        <!-- main content -->
        <div style="min-height: 100vh;">
            <h1 class="display-4 text-center">
                {{ self.title() }}
            </h1>

            <div class="container my-5">
                {% block content %}{% endblock %}
            </div>
        </div>

        <footer class="container text-center">
            <p>Author: Ishani Kathuria</p>
            <p>
                ||
                <a href="https://linkedin.com/in/ishani-kathuria/" target="_blank">
                    LinkedIn
                </a>
                ||
                <a href="https://github.com/ikathuria" target="_blank">
                    GitHub
                </a>
                ||
                <a href="https://medium.com/@ishani-kathuria" target="_blank">
                    Medium
                </a>
                ||
            </p>
        </footer>

        {% block scripts %}{% endblock %}

        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>

    </body>

</html>