{% extends 'base.html' %}

{% block title %} Python to Artificial Intelligence {% endblock %}

{% block content %}

<div>
	<h2>Start Learning!</h2>
	<ul>
		<li>Machine Learning</li>
		<ul>
			<li>
				<a class="underline-left-right" href="{{ url_for('supervised_learning') }}">
					Supervised Learning
				</a>
			</li>
		<ul>
			<li>Naive Bayes (Classification)</li>
			<li>K-Nearest Neighbour (Classification)</li>
			<li>Logistic Regression (Classification)</li>
			<li>Linear Regression (Regression)</li>
			<li>Decision Tree (Classification & Regression)</li>
		</ul>
			<li>
				<a class="underline-left-right" href="{{ url_for('unsupervised_learning') }}">
					Unsupervised Learning
				</a>
			</li>
		<ul>
			<li>K-Means (Clustering)</li>
			<li>Hidden Markov Model (Clustering)</li>
			<li>Hierarchical (Clustering)</li>
			<li>PCA (Dimension Reduction)</li>
		</ul>
	</ul>

	<li>Deep Learning</li>
	<ul>
		<li>Multilayer Perceptron</li>
		<li>Convolutional Neural Networks</li>
		<li>Recurrent Neural Networks</li>
		<li>Generative Adversarial Networks</li>
		<li>Autoencoders</li>
	</ul>

	<li>Applications</li>
	<ul>
		<li>
			<a class="underline-left-right" href="{{ url_for('nlp_content_gen') }}">
				GPT-3 Content Generator
			</a>
		</li>
		<li>
			<a class="underline-left-right" href="{{ url_for('nlp_content_gen') }}">
				Hand Gesture Recognition
			</a>
		</li>
	</ul>
</div>

{% endblock %}
